backend-services/kafka
backend-services/pom.xml

backend-services/**/HELP.md
backend-services/**/config/*-*.yml
backend-services/**/target/
backend-services/**/!.mvn/wrapper/maven-wrapper.jar
machine-learning/**/__pycache__/
backend-services/**/*.jar
backend-services/**/*.cmd
backend-services/**/mvnw
backend-services/**/maven*

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### VS Code ###
**/.vscode/