dill==0.3.4
fastapi==0.73.0
pydantic==1.9.0
pandas==1.4.0
psycopg2==2.9.3
scikit_surprise==1.1.1
surprise==0.1
uvicorn==0.17.4
scikit-learn
fastapi-utils
azureml-core
azureml-pipeline-core
prometheus_fastapi_instrumentator